<div class="main-container">
    <h1 class="h3 mb-3 font-weight-bold text-center">Registro</h1>
    <form class="form-registro"  #f="ngForm" (ngSubmit)="submitReg(f)">
        <div class="form-group">
            <label for="nombre">Nombre</label>
            <input type="text" class="form-control"  ngModel [(ngModel)]="inputName" name="inputName" placeholder="Nombre completo">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Correo</label>
            <input type="email" class="form-control"  ngModel [(ngModel)]="inputEmail" name="inputEmail" aria-describedby="emailHelp" placeholder="Enter email">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Contraseña</label>
            <input type="password" class="form-control"  ngModel [(ngModel)]="inputPassword1" name="inputPassword1" placeholder="Password">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Confirmar Contraseña</label>
            <input type="password" class="form-control"  ngModel [(ngModel)]="inputPassword2" name="inputPassword2" placeholder="Password">
        </div>
        <div class="form-group">
            <label for="nombre">Direccion</label>
            <input type="text" class="form-control"  ngModel [(ngModel)]="inputDireccion" name="inputDireccion" placeholder="Direccion">
        </div>
        <div class="form-group">
            <label for="nombre">Ciudad</label>
            <input type="text" class="form-control"  ngModel [(ngModel)]="inputCity" name="inputCity" placeholder="Ciudad">
        </div>
        <div class="form-group">
            <label for="nombre">Pais</label>
            <input type="text" class="form-control"  ngModel [(ngModel)]="inputCountry" name="inputCountry" placeholder="Pais">
        </div>
        <hr>
        
        <br>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Confirmar</button>
        <br>
    </form>
</div>