<div class="sidebar" data-color="white" data-active-color="danger">
  <!--
    Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
-->
  <div class="logo">
    
    <a href="/home" class="simple-text logo-normal">
      DASHBOARD
    </a>
  </div>
  <div class="sidebar-wrapper">
    <ul class="nav">
      <li class="active">
        <a  href="./dashboard">
          <i class="nc-icon nc-layout-11"></i>
          <p>Dashboard</p>
        </a>
      </li>
      <li>
        <a href="./live">
          <i class="nc-icon nc-tap-01"></i>
          <p>En Vivo</p>
        </a>
      </li>
      <li>
        <a href="./profile">
          <i class="nc-icon nc-single-02"></i>
          <p>Perfil</p>
        </a>
      </li>
      <li>
        <a href="./dashboard/nuevo-producto">
          <i class="nc-icon nc-simple-add"></i>
          <p>Nueva Subasta</p>
        </a>
      </li>
    </ul>
  </div>
</div>