<div class="wrapper">
    <app-navbar-dashboard></app-navbar-dashboard>
    <div class="breadcrumb-area pt-205 pb-50 bg-img" style="background-color: bisque;">
        <div class="container">
            <div class="breadcrumb-content">
                <h2>Subastas Disponibles</h2>
                <ul>
                    <li><a routerLink="../home">Página Principal</a></li>
                    <li>Subastas Disponibles</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="shop-page-wrapper hidden-items padding-filter">
        <div class="container-fluid">
            <div class="shop-filters-left is-visible">
                <div class="shop-sidebar">
                    <div class="sidebar-widget mb-50">
                        <div class="sidebar-search">
                                <input placeholder="¿Qué estás buscando?" type="text" [(ngModel)]="busqueda" (keydown.enter)="search()">
                                <button (click)="search()"><i class="ion-ios-search-strong"></i></button>
                        </div>
                    </div>
                    <div class="sidebar-widget mb-45">
                        <h3 class="sidebar-title">Filtros</h3>
                        <div class="sidebar-categories">
                            <ul>
                                <li><a routerLink="../subasta-buscar">Ordenar por precio </a></li>
                                <li><a routerLink="../subasta-buscar">Ordenar alfabéticamente</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="shop-filters-right is-visible">
                <div class="shop-product-content tab-content">
                    <div id="grid-5-col2" class="tab-pane fade active show">
                        <div class="row">
                            <div class="alert alert-danger" role="alert" *ngIf="filtrados.length === 0" >
                                <strong>Ningún producto concuerda con la búsqueda</strong>
                            </div>
                            <div class="col-md-12 col-lg-12 col-xl-6" *ngFor="let producto of filtrados" >
                                <div class="single-product single-product-list product-list-right-pr mb-40">
                                    <div class="product-img list-img-width">
                                        <a href="#"><img src="{{ruta}}/download/{{producto.Url}}" alt=""></a>
                                        <div class="product-action">
                                            <a title="Quick View" data-toggle="modal" data-target="#exampleModal" class="animate-right" [routerLink]="['/subasta-detalle/', producto.idProducto]"><i class="ion-ios-eye-outline"></i></a>
                                        </div>
                                    </div>
                                    <div class="product-content-list">
                                        <div class="product-list-info">
                                            <h4><a [routerLink]="['/subasta-detalle/', producto.idProducto]">{{ producto.nombre }}</a></h4>
                                            <span><strong>Puja Inicial:</strong>$ {{ producto.PujaInicial }}</span>
                                            <strong>Fecha de Cierre: </strong><span>{{ producto.fechaFinal }}</span>
                                            <p>{{ producto.descripcion }}</p>
                                        </div>
                                        <div class="product-list-cart-wishlist">
                                            <div class="product-list-cart">
                                                <a class="btn-hover list-btn-style" [routerLink]="['/subasta-detalle/', producto.idProducto]">ver subasta</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>

