<div class="row">
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card card-stats">
        <div class="card-body ">
          <div class="row">
            <div class="col-5 col-md-4">
              <div class="icon-big text-center icon-warning">
                <i class="nc-icon nc-money-coins text-success"></i>
              </div>
            </div>
            <div class="col-7 col-md-8">
              <div class="numbers">
                <p class="card-category">Créditos</p>
                <p class="card-title">${{creditos}}
                  <p>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer ">
          <hr>
          <div class="stats">
            <form #f="ngForm" (ngSubmit)="updateCredit(f)">
              <i class="fa fa-credit-card"></i>Agregar crédito
              <input ngModel [(ngModel)]="inputCreditos" name="inputCreditos">
              <button type="submit">Update</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card ">
        <div class="card-header ">
          <h5 class="card-title">Actividad reciente</h5>
        </div>
        <div class="card-body ">
          <div class="row">
            <div class="col-md-12">
              <div>
                <label>Subastas Creadas</label>
                <div *ngIf="subastasCreadasArr.length > 0">
                  <li *ngFor="let item of subastasCreadasArr">
                    <ul>{{item.Descripcion}}</ul>
                  </li>
                </div>
                <div *ngIf="subastasCreadasArr.length == 0">
                    <ul>Ninguno</ul>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div>
                <label>Productos Subastados</label>
                <div *ngIf="productosVendidosArr.length > 0">
                  <li *ngFor="let item of productosVendidosArr">
                    <ul>{{item.descripcion}}</ul>
                  </li>
                </div>
                <div *ngIf="productosVendidosArr.length == 0">
                    <ul>Ninguno</ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer ">
          <hr>
          <div class="stats">
            <i class="fa fa-history"></i> Actualizado justo ahora
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Mis Pujas</h4>
          <a routerLink="/subasta-buscar" class="btn btn-primary btn-round">Ingresar a Nueva Subasta</a>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class=" text-primary">
                <th>
                  Nombre
                </th>
                <th>
                  Fecha
                </th>
                <th>
                  Mi Puja
                </th>
                <!-- <th class="text-right"> -->
                <th>
                  Puja Inicial
                </th>
                <th>
                  Acciones
                </th>
              </thead>
              <tbody>
                <tr *ngIf="arrPujas.length == 0">Aún no has pujado en alguna subasta.</tr>
                <tr *ngFor="let puja of arrPujas">
                  <td>
                    {{puja.NombreProducto}}
                  </td>
                  <td>
                    {{puja.fechaAlta}}
                  </td>
                  <td>
                    $ {{puja.CantidadPuja}}
                  </td>
                  <td>
                    $ {{puja.PujaInicial}}
                  </td>
                  <td>
                    <a routerLink="/subasta-detalle/{{puja.idSubasta_fk}}" class="btn btn-primary btn-round">Detalle Subasta</a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Mis Productos en Subasta</h4>
          <a routerLink="/dashboard/nuevo-producto" class="btn btn-primary btn-round">Subastar Producto</a>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class=" text-primary">
                <th>
                  Nombre
                </th>
                <th>
                  Fecha Cierre
                </th>
                <th>
                  Cantidad de Pujadores
                </th>
                <!-- <th class="text-right"> -->
                <th>
                  Puja Inicial
                </th>
                <th>
                  Acciones
                </th>
              </thead>
              <tbody>
                <tr *ngIf="arrProductos.length == 0">Aún no has subastado algun producto.</tr>
                <tr *ngFor="let producto of arrProductos">
                  <td>
                    {{producto.nombre}}
                  </td>
                  <td>
                    {{producto.fechaFinal}}
                  </td>
                  <td>
                    {{arrProductos.length}}
                  </td>
                  <td>
                    {{producto.PujaInicial}}
                  </td>
                  <td>
                    <a routerLink="/subasta-detalle/{{producto.idProducto}}" href="./subasta-detalle.html" class="btn btn-primary btn-round">Detalle Producto</a>
                    <a routerLink="/dashboard/editar-producto/{{producto.idProducto}}" class="btn btn-success btn-round">Editar Producto</a>
                    <a (click)="eliminarProducto(producto._id)" class="btn btn-danger btn-round">Eliminar Producto</a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="row">
