<div class="row">
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card card-stats">
        <div class="card-body ">
          <div class="row">
            <div class="col-5 col-md-4">
              <div class="icon-big text-center icon-warning">
                <i class="nc-icon nc-money-coins text-success"></i>
              </div>
            </div>
            <div class="col-7 col-md-8">
              <div class="numbers">
                <p class="card-category">Créditos</p>
                <p class="card-title">${{creditos}}
                  <p>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer ">
          <hr>
          <div class="stats">
            <form #f="ngForm" (ngSubmit)="updateCredit(f)">
              <i class="fa fa-credit-card"></i>Agregar crédito
              <input ngModel [(ngModel)]="inputCreditos" name="inputCreditos">
              <button type="submit">Update</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card ">
        <div class="card-header ">
          <h5 class="card-title">Actividad reciente</h5>
        </div>
        <div class="card-body ">
          <div class="row">
            <div class="col-md-12">
              <div>
                <label>Subastas Creadas</label>
                <div *ngIf="subastasCreadasArr.length > 0">
                  <li *ngFor="let item of subastasCreadasArr">
                    <ul>{{item.Descripcion}}</ul>
                  </li>
                </div>
                <div *ngIf="subastasCreadasArr.length == 0">
                    <ul>Ninguno</ul>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div>
                <label>Productos Subastados</label>
                <div *ngIf="productosVendidosArr.length > 0">
                  <li *ngFor="let item of productosVendidosArr">
                    <ul>{{item.descripcion}}</ul>
                  </li>
                </div>
                <div *ngIf="productosVendidosArr.length == 0">
                    <ul>Ninguno</ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer ">
          <hr>
          <div class="stats">
            <i class="fa fa-history"></i> Actualizado justo ahora
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
