<app-navbar-dashboard></app-navbar-dashboard>

<div class="container-fluid" style="margin-top: 100px;">
	<div class="row">
		<div class="col-md-8">
			<iframe width="100%" height="900" src="https://www.youtube.com/embed/NtYfjbLntWo?start=2883" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</div>
		<div class="col-md-4">
			<ul>
				<li class="list-item list-inline-item" *ngFor="let item of listaMensajes">
					{{item}}
				</li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8">
		</div>
		<div class="col-md-4">
      <div class="form-group">
        <label for="">  </label>
        <input type="text" class="form-control" [(ngModel)]="msg" aria-describedby="helpId" placeholder="">
      </div>
      <a name="" id="" class="btn btn-primary" (click)="enviarMensaje()" role="button"> Enviar </a>
		</div>
	</div>
</div>