<div class="wrapper">
    <app-navbar-dashboard></app-navbar-dashboard>
<!-- header end --> 
<br>
<br>
<br>
            <div class="section-title text-center">
                <h2>Productos destacados</h2>
            </div>
            <div class="banner-area pt-100 pb-70">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-lg-4 col-xl-3" *ngFor="let item of productos | slice:1:4; let i=index">
                            <div class="single-product mb-35">
                                <div class="product-img">
                                    <a href="#"><img src="{{ruta}}/download/{{item.Url}}" alt=""></a>
                                    <div class="product-action">
                                        <a title="Quick View" data-toggle="modal" data-target="#exampleModal" class="animate-right" [routerLink]="['/subasta-detalle/', item.idProducto]"><i class="ion-ios-eye-outline"></i></a>
                                    </div>
                                </div>
                                <div class="product-content">
                                    <div class="product-title-price">
                                        <div class="product-title">
                                            <h4><a [routerLink]="['/subasta-detalle/', item.idProducto]">{{item.nombre}}</a></h4>
                                        </div>
                                        <div class="product-price">
                                            <span>${{item.PujaInicial}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="section-title text-center">
                <button class="btn btn-blue-gray" routerLink="/subasta-buscar" >¿Qué estás buscando?    <span><i class="fa fa-search" aria-hidden="true"></i></span></button>
            </div>
            
            <div class="product-collection-area pt-100 pb-50">
                <div class="container">
                    <div class="section-title text-center mb-55">
                        <h2>Otros productos relevantes</h2>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-lg-4 col-xl-3" *ngFor="let item of productos | slice:0:productos.length; let i=index">
                            <div class="single-product mb-35">
                                <div class="product-img">
                                    <a href="#"><img src="{{ruta}}/download/{{item.Url}}" alt=""></a>
                                    <div class="product-action">
                                        <a title="Quick View" data-toggle="modal" data-target="#exampleModal" class="animate-right" [routerLink]="['/subasta-detalle/', item.idProducto]"><i class="ion-ios-eye-outline"></i></a>
                                    </div>
                                </div>
                                <div class="product-content">
                                    <div class="product-title-price">
                                        <div class="product-title">
                                            <h4><a [routerLink]="['/subasta-detalle/', item.idProducto]">{{item.nombre}}</a></h4>
                                        </div>
                                        <div class="product-price">
                                            <span>${{item.PujaInicial}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <app-footer></app-footer>
</div>